.Panel
  margin: 2rem 0
  border: 1px solid #D3DBDC
  border-radius: 3px

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

.Panel-header
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid #D3D8DC
  padding: .75rem .75rem .75rem 1.25rem

.Panel-body
  padding: .75rem 1.25rem

.Panel-headerText
  +text-header-s

.Panel-actions

.Panel-body

+screen-m
  .Panel
    padding: 0 2rem

  .Panel-header,
  .Panel-body
    padding: 1.25rem 0
